@use 'src/styles/vars';

.presentation-text {
  & > h1 {
    text-shadow: 0 0 3px black;
    margin: 2rem 0 .5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  & > p {
    text-shadow: 0 0 5px black;
  }
}
