@use 'src/styles/vars';

.chat-message {
  &-author-date {
    margin-top: 1rem;
  }

  &-author {
    font-size: 1.2rem;
    font-weight: bold;
    color: vars.$neon;
  }

  &-date {
    font-size: .8rem;
    padding-left: 1rem;
    color: vars.$neon;
  }
}
