@use 'src/styles/vars';

.resources {
  position: absolute;
  background-color: rgba(93, 186, 224, .2);
  width: 17vw;
  top: 8rem;
  right: 1rem;
  padding: 1rem;
  & p {
    font-size: .8rem;
  }
}

