@use 'src/styles/vars';

.log {
  position: relative;
  // background: vars.$medium-blue;
  background-color: rgba(93, 186, 224, .2);
  width: 60%;
  height: 4rem;
  margin: 1rem auto;
  text-align: center;
  font-size: .8rem;
  color: white;
  opacity: 1;
}
