@use 'src/styles/vars';

.menu {
  z-index: 2;
  background-color: vars.$dark-blue;
  position: relative;
  width: 200px;
  top: 200px;
  padding: 10px;
  border-top: 4px double vars.$neon;
  border-right: 4px double vars.$neon;

  &-item {
    background-color: vars.$grey;
    color: white;
    padding: 10px;
    margin: 5px;
    border: 1px solid vars.$neon;
    cursor: default;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .6);

    &:hover {
      background-color: vars.$neon;
    }
  }

  &-triangle {
    z-index: 1;
    background-color: vars.$dark-blue;
    position: relative;
    top: 2px;
    left: -85px;
    width: 250px;
    height: 250px;
    border-right: 4px double vars.$neon;
    transform: rotate(70deg);
  }
}
