@use 'src/styles/vars';

.minichat {
  background-color: rgba(93, 186, 224, .2);
  position: absolute;
  width: 17rem;
  height: 20rem;
  margin: 1rem;
  right: 0;
  bottom: 0;

  &-header {
    background-color: rgba(4, 119, 166, .7);
    display: flex;
    justify-content: space-around;

    &-channel {
      margin: .5rem;
    }

    &-open {
      width: 1rem;
      margin: .5rem;
    }
  }

  &-content {
    padding: .5rem;

    &-message {
      background-color: rgba(4, 119, 166, .7);
      width: 13rem;
      padding: .5rem;
      margin: .5rem 0;
      font-size: .8rem;
      border-radius: .5rem;
    }

    &-message1 {
    }
    
    &-message2 {
      margin-left: 3rem;
      text-align: right;
    }
  }

  &-field {
    background-color: vars.$field-background;
    position: absolute;
    width: 16rem;
    bottom: 0;
    margin: .5rem;
    padding: .5rem;
    border: none;
    font-family: "Orbitron", sans-serif;
    color: white;
  }
}
