@use 'src/styles/vars';

.technologies {
  &-main {
    display: flex;
    margin-top: 1rem;
  }

  &-image {
    background: vars.$medium-blue;
    width: 16rem;
    height: 16rem;
    margin: 0 3rem 1rem 0;
    border: 1px solid vars.$neon;
    border-radius: .5rem;
  }

  &-actions {
    &-title {
      margin-bottom: 1rem;
      border-bottom: 1px solid vars.$neon;
    }

    &-button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      background: vars.$light-blue;
      color: white;
      border: 1px solid vars.$neon;
      padding: .5rem;
      margin-right: 1rem;
      border-radius: .5rem;
    }
  }

  &-research-list {
    position: relative;

    &-title {
      border-bottom: 1px solid vars.$neon;
    }
  }

  &-menu {
    position: relative;

    &-title {
      border-bottom: 1px solid vars.$neon;
    }
  }
}
