@use 'src/styles/vars';

.register {
  top: 75px;
  width: 350px;
  margin: 0 auto;

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-button {
    background: #2aa4d1;
    border: none;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    cursor: default;
  }

  &-username-error-message {
    color: red;
    text-align: center;
  }

  &-password-error-message {
    color: red;
    text-align: justify;
  }
}
