@use 'src/styles/vars';

.register {
  top: 75px;
  width: 350px;
  margin: 0 auto;

  &-form {
    display: flex;
    flex-direction: column;

    &-select {
      text-align: center;
    }

    & select {
      width: 250px;
      margin: 0 auto;
    }

    & > p {
      text-align: center;
      font-size: .9rem;
      font-weight: bold;
      color: vars.$medium-blue;
      text-decoration: underline;
      text-shadow: 0 0 2px white;
      cursor: pointer;
    }

    & > hr {
      color: white;
      margin: 1rem 0;
    }
  }

  &-button {
    background: #2aa4d1;
    border: none;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    cursor: default;
  }

  &-username-error-message {
    color: red;
    text-align: center;
  }

  &-password-error-message {
    color: red;
    text-align: justify;
  }

  &-loader {
    display: flex;
    justify-content: center;
  }
}
