@use 'src/styles/vars';

.connection {
  background-color: vars.$dark-blue;
  position: relative;
  width: 400px;
  height: 350px;
  margin: 0 auto;
  padding: 20px;
  top: 200px;
  border: 4px double vars.$neon;
  box-shadow: 0 0 2em vars.$neon;

  &-login-tab-active {
    position: absolute;
    top: 20px;
  }

  &-login-tab-inactive {
    position: absolute;
    width: 170px;
    top: 20px;
    background-color: vars.$dark-blue;
    border-right: 1px solid vars.$neon;
    border-bottom: 1px solid vars.$neon;
  }

  &-register-tab-active {
    position: absolute;
    top: 20px;
    left: 192px;
  }

  &-register-tab-inactive {
    position: absolute;
    width: 180px;
    top: 20px;
    left: 192px;
    background-color: vars.$dark-blue;
    border-left: 1px solid vars.$neon;
    border-bottom: 1px solid vars.$neon;
  }

  &-tab {
    height: 300px;
    border: 1px solid vars.$neon;
    background-color: vars.$grey;

    &-button {
      margin-left: 10px;
      padding: 10px;
      color: white;
      cursor: default;
    }
  }
}
