@use 'src/styles/vars';

.reset-password {
  &-form {
    position: relative;
    background: vars.$main-background;
    width: 30rem;
    margin: 0 auto;
    top: 30vh;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-paragraph {
    margin-bottom: 2rem;
  }

  &-input {
    margin-bottom: 1rem;
    width: 250px;
  }

  &-error-message {
    color: red;
  }

  &-success-message {
    font-size: 1.2rem;
    font-weight: bold;
    color: vars.$neon;
    margin: 1rem;
  }

  &-button {
    background: #2aa4d1;
    border: none;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    cursor: default;
  }
}
