@use 'src/styles/vars';

.star-system {
  position: relative;
  // background: #151618;
  width: 60vw;
  height: 70vh;
  top: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

#canvas {
  width: 100%;
  height: 100%;
}

.star-system-navigation {
  // background: vars.$field-background;
  position: absolute;
  width: 25rem;
  top: 2rem;
  text-align: center;
  // border: 1px solid vars.$neon;
  left: calc(50% - 12rem);
}

.separator {
  position: relative;
  font-size: 1.5rem;
  color: vars.$neon;
  top: -2rem;
}

.star-system-arrow {
  width: 3rem;
  margin: 1rem;
}
