@use 'src/styles/vars';

.login {
  top: 125px;
  width: 350px;
  margin: 0 auto;

  &-form {
    display: flex;
    flex-direction: column;
  }

  &-button {
    background: #2aa4d1;
    border: none;
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    color: white;
    cursor: default;
  }

  &-error-message {
    color: red;
  }

  &-forgotten-password {
    margin: 10px auto;
    text-decoration: underline;
    font-size: 0.8rem;
    cursor: pointer;
  }

  &-loader {
    display: flex;
    justify-content: center;
  }
}
