@use 'src/styles/vars';

.map {
  width: 60%;
  margin: 0 auto;
}

.map-tab-container {
  height: 2rem;
  margin: 0 auto;
  display: flex;
  padding-bottom: 1rem;
}

.map-tab {
  flex-grow: 1;
  background: none;
  border: none;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: .9rem;
  padding: .5rem 0 1.5rem 0;
  cursor: default;
}

.map-tab-active {
  border-top: 1px solid vars.$neon;
  border-left: 1px solid vars.$neon;
  border-right: 1px solid vars.$neon;
  border-bottom: 1px solid transparent;
}

.map-tab-inactive {
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid vars.$neon;
}
