@use 'src/styles/vars';

.chat {
  position: relative;
  background-color: vars.$main-background;
  color: white;
  width: 60vw;
  height: calc(100vh - 12rem);
  margin: 2rem auto 0 auto;
  padding: 2rem;

  &-messages {
    height: calc(100vh - 21rem);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: vars.$neon transparent;

    &-form {
      position: absolute;
      width: calc(100% - 4rem);
      bottom: 2rem;
      margin: 1rem 0;
    }

    &-field {
      background: vars.$main-background;
      color: white;
      font-family: "Orbitron", sans-serif;
      font-size: 1.2rem;
      border: none;
      padding: .5rem;
      width: calc(100% - 2rem);
    }

    &-typing {
      position: absolute;
      bottom: 1rem;
    }

    &-emoticons {
      position: absolute;
      top: .6rem;
      right: 0;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  &-channels {
    position: absolute;
    background-color: vars.$main-background;
    top: 10rem;
    right: 1rem;
    width: 18vw;
    height: calc(100vh -12rem);
    padding: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: vars.$neon transparent;

    &-public-channel {
      background-color: vars.$main-background;
      padding: .5rem;
      margin-bottom: .5rem;
      border-radius: .2rem;
      cursor: pointer;
    }

    &-private-channel {
      border: 2px solid vars.$main-background;
      padding: .5rem;
      margin-bottom: .5rem;
      border-radius: .2rem;
      cursor: pointer;
    }

    &-channel-active {
      background-color: vars.$field-background;
      border: 2px solid vars.$neon;
      box-shadow: 0 0 10px rgba(255, 255, 255, .5);
    }

    &-search {
      background: vars.$field-background;
      color: white;
      width: 15vw;
      border: none;
      padding: .5rem;
      margin-bottom: .5rem;

      &-result {
        position: absolute;
        z-index: 1;
        background: vars.$field-background;
        width: 15vw;
        &-item {
          cursor: pointer;
        }
      }
    }
  }
}

.emoji-picker-react {
  visibility: hidden;
}

hr {
  max-width: 17vw;
  color: vars.$neon;
}
